<!-- templates/registration/password_change_done.html -->
{% extends 'base.html' %}

{% block title %}ПАРОЛЬ ИЗМЕНЕН // TRADING{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-10 col-sm-8 col-md-6 col-lg-4">
            <div class="card card-mono p-4 shadow-sm text-center">
                <h3 class="fw-bold mb-4 tracking-wider">УСПЕШНО</h3>

                <div class="border border-dark p-3 mb-4 bg-light fw-bold text-uppercase small">
                    ВАШ НОВЫЙ ПАРОЛЬ БЫЛ УСПЕШНО СОХРАНЕН.
                </div>

                <p class="small text-uppercase text-muted mb-4">
                    Теперь вы можете продолжить безопасное использование системы.
                </p>

                <a href="{% url 'user:login' %}" class="btn btn-outline-dark btn-mono w-100 fw-bold rounded-0 text-uppercase py-2">
                    НА ГЛАВНУЮ
                </a>
            </div>
        </div>
    </div>
{% endblock %}
